DOMAIN=mtechlabs.cloud
TIMEZONE=Asia/Jakarta

NODE_RED_SECRET=generate_with_openssl_rand_hex_32

INFLUX_ADMIN_USER=admin
INFLUX_ADMIN_PASSWORD=your_strong_password
INFLUX_ORG=mtechlabs
INFLUX_BUCKET=dcim
INFLUX_TOKEN=generate_with_openssl_rand_hex_32

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=your_strong_password

CLOUDFLARE_TUNNEL_TOKEN=get_from_cloudflare_dashboard
